h1{font-family:times new roman,arial;
font-size:55px; font-weight:bold; color:gray; background:black; letter spacing:30px; border:20px; line hight:4px; }
h1{background:linear-gradient(to left,navy,black)}
p{display:block; text-align:center;}
h1{padding:30px; margin:20px; border:5px solid black;
text-align:center;}
table{padding:30px; border:40px;
text-align:center;}

#media{border:0 solid black}

ul{display:flex;
justify-content:center;
gap:40px;
color:red;}
a{color:black; text-derocation:underline;}
media{max-width:350; margin:40px auto;
padding:20px; height:60px; }
